
body {
  background-color: #f2efe6;
  padding: 0;
  font-family: sans-serif;
}


/* div#leftAngle {
  width: 100%;
	height: 100%;
	border-top:  solid rgb(172, 141, 95);
  border-right:  solid transparent;
  
} */

/* div#rightAngle {
  width: 0;
	height: 0;
	border-top: 400px solid rgb(194, 193, 189);
  border-left: 400px solid transparent;
  display: flex

} */

/* div#leftBottomAngle {
    width: 100%;
    height: 100%;
    border-bottom: solid rgb(165, 192, 206);
    border-right: solid transparent;
    box-shadow: -3px 5px 2px rgba(165, 192, 206, .3)
  } */

/* div#rightBottomAngle {
  width: 100%;
  height: 100%;
  border-bottom: solid rgb(24, 32, 51);
  border-left: solid transparent;
  display: flex;
} */

h1#h1_about {

}